<div>
    <app-header></app-header>
</div>

<!-- Nội dung -->
<div class="header">
  <img src="image/banner_gthieu.png" alt="Pet Image">
</div>

<!-- Introduction Section -->
<div class="intro">
  <h2>Về PetDaily</h2>
  <p>
      Pet Daily cung cấp các giải pháp và dịch vụ chăm sóc thú cưng toàn diện, chuyên nghiệp, uy tín, chất lượng hàng đầu Thành phố Hồ Chí Minh. Là địa chỉ tin cậy đồng hành cùng bạn trong hành trình yêu thương và chăm sóc các bé thú cưng của mình.
  </p>
</div>

<!-- Triết lý kinh doanh -->
<div class="business-philosophy">
  <div class="title-section">
      <img src="paw-icon.png" alt="Icon"> <!-- Đường dẫn đến ảnh nhỏ trước tiêu đề -->
      TRIẾT LÍ KINH DOANH
  </div>

  <!-- Phần nội dung bao gồm đoạn văn bản và hình ảnh trong cùng một hàng -->
  <div class="content-section">
      <div class="text-section">
          <p>
              Cung cấp dịch vụ chất lượng cao, đảm bảo sự hài lòng của khách hàng và sức khỏe tốt nhất cho thú cưng. Pet Daily cam kết tôn trọng và yêu thương động vật, đồng thời tạo ra một môi trường làm việc tích cực cho nhân viên.
          </p>
      </div>
      <!-- Thiếu ảnh  -->
      <div class="image-section"></div>
  </div>
</div>
<div class="container">
  <!-- Sứ Mệnh -->
  <div class="card">
      <img src="paw-icon.png" alt="Icon"> <!-- Đường dẫn đến icon -->
      <h3>SỨ MỆNH</h3>
      <div class="oval">
          <p>
              Cung cấp dịch vụ chất lượng<br>
              Xây dựng niềm tin với khách hàng<br>
              Đẩy mạnh giáo dục cộng đồng
          </p>
      </div>
  </div>

  <!-- Tầm Nhìn -->
  <div class="card">
      <img src="paw-icon.png" alt="Icon"> <!-- Đường dẫn đến icon -->
      <h3>TẦM NHÌN</h3>
      <div class="oval">
          <p>
              Mở rộng quy mô dịch vụ,<br>
              Hợp tác với các tổ chức quốc tế để<br>
              nâng cao chất lượng dịch vụ và đào tạo nhân viên
          </p>
      </div>
  </div>
</div>



<div>
    <app-footer></app-footer>
</div>
