
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3 class="footer-title logo">
                <a  [routerLink]="['/trangChu']" routerLinkActive="router-link-active">
                    <img class="logo" src="assets/my-images/logo.png" alt="">
                </a>
            </h3>
            <p class="footer-content">
                PetDaiLy - là cửa hàng dành cho thú cưng, chuyên cung cấp các dịch vụ chăm sóc toàn diện, chất lượng cao dành cho thú cưng. Với mong muốn mang lại cuộc sống tốt đẹp và trải nghiệm tuyệt vời cho các bé thú cưng.
            </p>
        </div>
    
        <div class="footer-section">
            <h3 class="footer-title">THÔNG TIN</h3>
            <ul class="footer-content">
                <li><a [routerLink]="['/gioiThieu']" routerLinkActive="router-link-active">Giới thiệu</a></li>
                <li><a [routerLink]="['/dichVu']" routerLinkActive="router-link-active">Dịch vụ</a></li>
                <li><a [routerLink]="['/khuyenMai']" routerLinkActive="router-link-active">Khuyến mãi</a></li>
                <li><a [routerLink]="['/tinTuc']" routerLinkActive="router-link-active">Tin tức</a></li>
                <li><a [routerLink]="['/danhGia']" routerLinkActive="router-link-active">Đánh giá</a></li>
            </ul>
        </div>
    
        <div class="footer-section">
            <h3 class="footer-title">THÔNG TIN LIÊN HỆ</h3>
            <p class="footer-content">
                <img class="vector" src="assets/my-images/vector1.png" alt="">
                <span class="vectornd">0378701003 - 0378701004</span> 
                <br><br>
                <img class="vector" src="assets/my-images/vector2.png" alt=""> 
                <span class="vectornd">Địa chỉ nhà</span>
                <br><br>
                <img class="vector" src="assets/my-images/vector3.png" alt="">
                <span class="vectornd">Địa chỉ mail</span>
                <br><br>
                <img class="vector" src="assets/my-images/vector4.png" alt=""> 
                <span class="vectornd">Địa chỉ website</span>
            </p>
        </div>
    </div>
    <hr style="border: 2px #ffffff solid;">
    <p class="coppyright">Coppyright&copy;2024 by PetDaiLy. All rights reserved..</p>

    
  </footer>

  
  